{% extends "layout.jinja2" %}
{% block content %}

<link rel = "stylesheet" href = "/static/styles/forms.css"/>

<div id = "wrapper">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
    <button
        type="button"
        class="close"
        data-dismiss="alert">
        x
        </button>
    {{ message }}
    </div>
    {% endfor %}

    <form method = "POST" action = "/get-to-know-me" enctype = "multipart/form-data">
    {{ form.csrf_token }}

    {% if current_user.admin %}
    <fieldset class = "title">
    {{ form.title.label }}<br/>
    {{ form.title }}
    </fieldset>
    {% endif %}

    <fieldset class="bio">
    {{ form.bio.label }}<br/>
    {{ form.bio }}
    {% if form.bio.errors %}
        <ul class="errors">
        {% for error in form.email.errors %}
            <li>{{ error }}</li>{% endfor %}
        </ul>
    {% endif %}
    </fieldset>
    <hr/>
    <fieldset class = "photo">
        <div class = "left">
            {{ form.photo.label }}<br/>
            {{ form.photo }}
            {% if form.photo.errors %}
                <ul class="errors">
                {% for error in form.photo.errors %}
                    <li>{{ error }}</li>{% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class = "right">
            {% if existing_bio.photo %}
                <img id = "img" width = "100px" height = "100px" src = "{{ existing_bio.photo }}"/>
            {% endif %}
        </div>
    
        <script>
            window.onload = function() {
                const photo =  document.getElementById("photo");
                photo.onchange = (evt) => {
                    const [file] = photo.files;
                    if (file) {
                        document.getElementById("img").src = URL.createObjectURL(file);
                    }
                }
            }
        </script>
    </fieldset>
    <hr/>
    <p>Contact Information (optional)</p>
    <div id = "contact">
        <div class = "thing">
            <div>{{ form.phone.label }}</div>
            <div>{{ form.phone }}</div>
        </div>
        <div class = "thing">
            <div>{{ form.ig.label }}</div>
            <div>{{ form.ig }}</div>
        </div>
        <div class = "snap">
            <div>{{ form.snap.label }}</div>
            <div>{{ form.snap }}</div>
        </div>
    </div>
    <div class = "submit-button">
        {{ form.submit }}
    </div>
    </form>
</div>

{% endblock %}