{% extends "layout.jinja2" %}
{% block content %}
<div class = "section">
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<h1 style = "text-align: center">There's nothing here yet.</h1>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>
{% endblock %}