<!DOCTYPE html>
<html>
<head>
<style>
table, td, th {
  border: 1px solid;
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
</style>
<script>
    function del(email) {
        const request = new XMLHttpRequest();
        request.open("POST", "/admin");
        request.setRequestHeader("Content-Type", "application/json");
        request.send(JSON.stringify({"email": email}));
        var row = document.getElementById(email);
        row.parentElement.removeChild(row);
    }

    function delReq(id) {
        const request = new XMLHttpRequest();
        request.open("POST", "/admin");
        request.setRequestHeader("Content-Type", "application/json");
        request.send(JSON.stringify({"id": parseInt(id)}));
        var row = document.getElementById(id);
        row.parentElement.removeChild(row);
    }
</script>
</head>
<body>
<a href = "{{ url_for('get_index') }}">Back</a><h1>Admin Stuffz</h1><p>Careful you will delete their account if you click the x 👍👍👍👍</p><p>Eventually admins will be able to create upcoming projects posts stuff and stuff from here?</p>
<table>
<tbody>
<tr>
<th>Name</th><th>Email</th><th>Country</th><th>Admin</th><th>Delete User</th>
</tr>
{% for user in users %}
<tr id = "{{ user.email }}">
<td><a href = "{{ url_for('get_to_know_them', id = user.id)}}">{{ user.name }}</a></td>
<td>{{ user.email }}</td>
<td>{{ user.country }}</td>
<td>
    {% if user.admin %}<span style = "color:green">Yes</span>{% endif %}
    {% if not user.admin %}<span style = "color:red">No</span>{% endif %}
</td>
<td>
<button onclick = "del('{{ user.email }}')">x</button>
</td>
</tr>
{% endfor %}
</tbody>
</table>
<br><br>
<table>
<tbody>
<tr>
<th>Meeting Request</th><th>Requested Time</th><th>Message</th><th>Request Resolved?<br/>(Did you send an email to both parties?)</th>
</tr>
{% for request in requests %}
<tr id = "{{ request.id }}">
<td>{{request.email0}} => {{request.email1}}</td><td>{{request.time}}</td><td>{{request.message}}</td><td>
<button onclick = "delReq('{{request.id}}')">x</button>
</td>
</tr>
{% endfor %}
</tbody>
</table>

<h3>Run code (Eric only plz 👍)</h3>
{{ form.code.label }}<br/>
{{ form.code }}
{{ form.submit }}
</body>
</html>