<div class="form-wrapper">
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
    <button
        type="button"
        class="close"
        data-dismiss="alert">
        x
        </button>
    {{ message }}
    </div>
{% endfor %}

<h1>Elevate Account</h1>

<form method="POST" action="/elevate">
    {{ form.csrf_token }}
    
    <fieldset class="password">
    {{ form.password.label }}
    {{ form.password }}
    {% if form.password.errors %}
        <ul class="errors">
        {% for error in form.password.errors %}
            <li>{{ error }}</li>{% endfor %}
        </ul>
    {% endif %}
    </fieldset>

    <div class="submit-button">
    {{ form.submit }}
    </div>
</form>
</div>