<!DOCTYPE html>
<html>
    <head>
        <title>Kids United</title>
        <link rel = "stylesheet" href = "static/styles.css"/>
        <script src = "static/main.js"></script>
    </head>
    <body>
        <header id = "header">
            <div id = "logo">
                <img id = "logo_image" src = "static/lib/logo.png"/>
            </div>
            <nav id = "nav"></nav>
        </header>
        <div id = "content">
        <br><br><br><br><br>
            {% block content %}{% endblock %}
        </div>
        <footer>
            Eric Kugel  |  erickugel713@gmail.com  | (507)-254-3167 | <a href = "{{ url_for('logout') }}">Logout</a>
        </footer>
    </body>
</html>