{% extends "layout.jinja2" %}
{% block content %}
<div class = "section">
  <br><br><br><br><br>Thanks for your submission!
</div>
<ul>
{% for user in users %}
  <li>{{user.username}}'s email is {{user.email}}</li>
{% endfor %}
</ul>

{% endblock %}